@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');
@import "tailwindcss";

/* Theme variables */
@theme {
  --font-sharp-sans: "Poppins", sans-serif;
  --color-custom-dark: #141414;
}

/* Custom utilities */
@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

/* Base styles */
body {
  @apply bg-custom-dark font-sharp-sans;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.2);
  border-radius: 4px;
}