@import 'tailwindcss';


@theme {

  --color-dark: #141414,
  screens: {
    "i-pad": "(min-height: 1000px) and (max-height: 1300px)",
      "i-pad-mini": "(min-height: 900px) and (max-height: 1000px)",
  }

  ;
}

body {
  @apply bg-dark;
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /* IE, Edge, and Firefox */
  .scrollbar-none {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}